extends ../base

block vars
	-let pageName = 'darovoe-page'
	-let pageTitle = 'Музей-усадьба Ф.М. Достоевского «Даровое»'
	-let metaTitle = 'Музей-усадьба Ф.М. Достоевского «Даровое» | Зарайский кремль'
	-let metaDescription = ''
block content
		main.main.page(class= pageName)
			+topSection(pageTitle, false, true, 'Дом А.С. Голубкиной', 'golubkina .html')
				+breadcrumps(pageTitle)
			+contentTextPic('Общая информация', 'image-11', 'Усадьба Ф.М. Достоевского «Даровое»')
				p <strong>Усадьба Даровое была приобретена родителями писателя - Михаилом Андреевичем и Марией Федоровной Достоевскими - в 1831 году. Здесь Федор Достоевский вместе с братьями и сестрами проводил летние месяцы с 1832 по 1836 год.</strong><br>Впечатления счастливого детства навсегда остались в душе писателя и впоследствии нашли свое отражение в произведениях «Мужик Марей», «Бедные люди», «Преступление и наказание», «Бесы», «Идиот», «Братья Карамазовы» и других. Из семи российских музеев Достоевского это единственный музей-усадьба, обладающий обширной мемориальной природной территорией с прекрасно сохранившимся ландшафтом конца XVIII - первой половины XIX веков.
			+contentBg('Природа', 'image-12', 'Природа вокруг усадьбы')
				p <strong>Брат писателя, Андрей Михайлович Достоевский, оставил воспоминания о Даровом: «Эти три местности: липовая роща, сад и Брыков лес были ближайшими местами к нашему домику, а потому и составляли место нашего постоянного пребывания и гулянья».</strong> В роще, сохранившейся и поныне, можно прикоснуться к дубам и липам, возраст которых более 250 лет. Эти деревья напрямую соединяют нас с тем временем, когда под их сенью играли юные братья Достоевские. Помнят Достоевского и курганы с липами, где семья в хорошую погоду обедала и пила чай. Прекрасно сохранился в Даровом «маменькин пруд», который появился благодаря М. Ф. Достоевской, матери писателя, в 1832 году.
			+contentTextPic('В наше время', 'image-13', 'Памятник Ф. М. Достоевскому')
				p <strong>В усадебном доме располагается экспозиция, которая рассказывает о пребывании здесь Достоевских. Кроме того, в Даровом посетители могут увидеть один из лучших памятников Ф. М. Достоевскому, установленный на территории усадьбы в 1993 году (скульптор Ю. Ф. Иванов).</strong> 
				p Ежегодно на территории усадьбы проводится экологический фестиваль «Птичьи трели» и фольклорно-этнографический фестиваль «Липец в Даровом».
			+gallery('Усадьба «Даровое»')
				+gallery-slide('image-29', 'Музейная экспозиция')
				+gallery-slide('image-32', 'Музейная экспозиция')
				+gallery-slide('image-33', 'Музейная экспозиция')
				+gallery-slide('image-34', 'Музейная экспозиция')
				+gallery-slide('image-35', 'Музейная экспозиция')
				+gallery-slide('image-30', 'Музейная экспозиция')
				+gallery-slide('image-31', 'Музейная экспозиция')
			include ../parts/toget