extends ../base

block vars
	-let pageName = 'eventsingle-page'
	-let pageTitle = 'Скульптура А.С. Голубкиной. Взгляд фотографа'
	-let metaTitle = 'Скульптура А.С. Голубкиной. Взгляд фотографа | Зарайский кремль'
	-let metaDescription = ''
block content
		main.main.page.eventsingle-page
			section.section.top
				.top__current
					.top__heading.container
						+breadcrumps(pageTitle, 'Текущие выставки', '#')
						.top__name 
							h1= pageTitle
			section.section.event
				.event__container 
					.event__content
						.event__image
							+picture('image-04', 'jpg', false, true)
								|Подпись к картинке
						.event__text
							.event__info
								.event__date
									svg.icon.icon-accent.icon-clock
										use(xlink:href=`${sitePath}img/icons/icon-clock.svg#icon-clock`)
									span 27.01-08.06 2024
								.event__location
									svg.icon.icon-accent.icon-mark
										use(xlink:href=`${sitePath}img/icons/icon-mark.svg#icon-mark`)
									span Дом голубкиной
							.event__announce 
								p Выставка «Скульптура А.С. Голубкиной. Взгляд фотографа» расскажет о творческой судьбе выдающегося русского скульптора и познакомит  посетителей с именем Л.М. Сытина, одного из самых востребованных художников-фотографов в области съемки музейных коллекций первой половины XX века. 
							.event__ticket 
								button.btn.btn-primary.btn-primary--accent Купить билет
			section.section.eventinner
				.eventinner__container.container
					h2.eventinner__heading Подробнее
					.eventinner__content 
						.eventinner__images 
							+picture('image-03', 'jpg', false, true)
								|Подпись к картинке
							+picture('image-03', 'jpg', false, true)
								|Подпись к картинке
						.eventinner__text.user-content
							p А.С. Голубкина была человеком скромным и фотографировалась крайне неохотно. Однако она понимала необходимость иметь под рукой фотографии своих работ. Первые фотографии произведений Голубкиной были сделаны еще в годы ее ученичества в Московском училище живописи, ваяния и зодчества. В письме старшей сестре из Парижа в 1897 году Анна Семеновна пишет: «…Когда-нибудь, когда будешь в Зарайске, пришли мне, пожалуйста, фотографию (большую) с моего эскиза углем (знаешь, эту, с ангелом). Может, можно будет барельеф работать…». А в 1898 году, готовясь к встрече с Марком Антокольским и Огюстом Роденом, в письме к родным просила выслать ей фотографию «с мальчишки, ту, у которой на изнанке написано «мой» и барельеф бабы с девчонкой. Мне они нужны, чтобы показать…» Благодаря фотографиям сегодня мы имеем возможность увидеть не сохранившиеся до настоящего времени скульптуры А.С. Голубкиной. Начиная с 1900 года, когда работы художницы стали представляться на выставках, ее произведения снимали профессиональные фотографы Москвы. В 1938 году Государственный Музей-мастерская Голубкиной пригласил с целью «изготовления художественных фотографий со скульптуры Голубкиной для массового распространения» профессионального фотографа Льва Максимовича Сытина. Это непродолжительное сотрудничество было плодотворным. Высокую оценку его работам дала Вера Николаевна Голубкина, племянница скульптора и первый директор Музея-мастерской скульптора в Москве: «…До настоящего времени только в Ваших фотоснимках удалось так полно и в высокохудожественной форме передать глубокий смысл содержания, фактуру поверхности, материал и объем скульптур Анны Семеновны Голубкиной, выполненных в мраморе, дереве, камне, бронзе и в тонированном и белом гипсе…» Фотографии Л.М. Сытина представлялись на второй персональной выставке произведений Анны Семеновны в 1944 году. Более 300 снимков с произведениями Голубкиной, выполненных Сытиным, сохранилось благодаря потомкам фотографа. Впервые в родном доме художницы будут представлены автобиографические материалы фотографа из семейного архива потомков Л.М. Сытина и его фотографии (цифровые копии), на которых запечатлены работы А.С. Голубкиной
			include ../parts/seemore
			include ../parts/toget


