extends ../base

block vars
	-let pageName = 'faq-page'
	-let pageTitle = 'Часто задаваемые вопросы'
	-let metaTitle = 'Часто задаваемые вопросы | Зарайский кремль'
	-let metaDescription = ''
block content
		main.main.page.faq-page
			section.section.top
				.top__current
					.top__heading.container
						+breadcrumps(pageTitle, 'Посетителям', '#')
						.top__name 
							h1= pageTitle
				a(href=`${sitePath}exhibitions.html`).top__next
					div
						span.btn.btn-link.btn-link--white Смотреть далее
						p.h3 Выставки
			section.faq
				.faq__container.container 
					.faq__content
						ul.faq__list.accordeon
							+faqItem('Можно ли купить билет на сайте в день посещения?', 'faq')
								p Да, Вы можете купить билет на сайте в день посещения на ближайший сеанс, билеты на который есть в наличии.
							+faqItem('Можно ли купить билет в кассе в день посещения?', 'faq')
								p Да, можно.
							+faqItem('Как попасть на стены кремля?', 'faq')
								p Подняться на галерею кремля можно в сопровождении экскурсовода с экскурсией!
							+faqItem('Работает ли сувенирная лавка? Мне нужен входной билет, чтобы купить сувенир?', 'faq')
								p Сувенирная лавка открыта для посетителей, входной билет для посещения не нужен.
							+faqItem('Нужно ли экскурсию бронировать заранее', 'faq')
								p Мы будем благодарны, если вы оставите заявку на экскурсию как можно ранее. В этом случае вы избежите возможного пересечения вашей экскурсии с другими экскурсионными группами. Кроме того, предварительная заявка поможет максимально детально обсудить и учесть особенности экскурсии с учётом состава и предпочтений вашей группы.Мы принимаем заявки на экскурсии в том числе в день вашего визита и готовы провести экскурсию без предварительной заявки.
								p <strong>Экскурсионное обслуживание можно заказать по телефонам: 8(496)667-30-72</strong>
							+faqItem('Сколько будет стоить индивидуальная/семейная экскурсия по музею?', 'faq')
								p Вам необходимо оплатить стоимость групповой экскурсионной путёвки, даже если вы заказываете экскурсию для одного или нескольких человек.
							+faqItem('Нужно ли платить за билеты при заказе экскурсии?', 'faq')
								p Даже если вы заказали экскурсию и купили групповую экскурсионную путёвку, каждый участник группы также должен приобрести входной билет в музей (согласно своей категории: взрослый, пенсионер, студент, школьник и т. д.), либо получить бесплатный входной билет (при наличии такого права).
							+faqItem('Кто имеет право на льготное посещение музея?', 'faq')
								p <strong>На льготное посещение экспозиции в здании Присутственных мест и Доме А.С. Голубкиной имеют право:</strong>
								ul
									li дети школьного возраста;
									li инвалиды;
									li пенсионеры
								p <strong>Бесплатно посетить экспозиции в здании Присутственных мест и Доме А.С. Голубкиной могут</strong>
								ul
									li дети дошкольного возраста;        
									li учащиеся приютов, реабилитационных центров, центров социальной помощи семье и детям;        
									li военнослужащие срочной службы;        
									li герои Советского Союза, Герои Российской Федерации, полные кавалеры ордена Славы;        
									li обучающиеся по основным профессиональным образовательным программам — второе воскресенье месяца;        
									li ветераны боевых действий;
									li сотрудники музеев Российской Федерации;
									li члены ИКОМ;
									li воспитанникам Суворовских военных училищ и Нахимовских военно-морских училищ – каждую субботу месяца;        
									li дети из многодетных семей 
									li вторая суббота месяца;        
									li лица, не достигшие 18 лет 
									li вторая суббота месяца;        
									li пенсионеры 
									li первая и вторая среда месяца.        
								p Указанные льготы предоставляются указанным категориям граждан только при предъявлении ими соответствующих подтверждающих документов.
							+faqItem('Можно ли самостоятельно (без экскурсии) посетить Музей-усадьбу Ф.М. Достоевского «Даровое»?', 'faq')
								p <strong>Можно. Входной билет на территорию усадьбы можно купить в кассе на входе в усадьбу.<br>Стоимость — 100 руб.</strong>
								p Также в кассе можно приобрести входной билет во флигель, где располагается экспозиция о времени пребывания Достоевских в Даровом.<br>Стоимость — 100 руб.<br>Экскурсию по усадьбе можно заказать, позвонив по телефону 8(496)667-30-72.<br>Для уединенной прогулки по усадьбе и флигелю можно приобрести медиагид и прослушать аудиоэкскурсию в удобное для вас время.