extends ../base

block vars
	-let pageName = 'golubkina-page'
	-let pageTitle = 'Дом А.С. Голубкиной'
	-let metaTitle = 'Дом А.С. Голубкиной | Зарайский кремль'
	-let metaDescription = ''
block content
		main.main.page(class= pageName)
			+topSection(pageTitle, false, true, 'Музей-усадьба «Даровое»', 'darovoe.html')
				+breadcrumps(pageTitle)
			+contentTextPic('Общая информация', 'image-08', 'Вход в дом А.С. Голубкиной')
				p <strong>В исторической части Зарайска расположен дом великого русского скульптора Анны Семеновны Голубкиной.</strong>
				p Этот дом, построенный в первой трети XIX века, был куплен в 1841 году дедом художницы, Поликарпом Голубкиным. Здесь Анна Семеновна родилась 28 января (16 января по старому стилю) 1864 года, отсюда в возрасте 25 лет уехала учиться сначала в Москву, затем в Санкт-Петербург и Париж. Здесь по зарайским впечатлениям были созданы многие ее произведения.
			+contentBg('История здания', 'image-09', 'Музейная экспозиция')
				p Сюда же А. С. Голубкина приехала летом 1927 года, почувствовав себя совсем больной. 7 сентября того же года ее не стало.После того, как ушли из жизни старшие члены семьи, а племянники А. С. Голубкиной покинули родной дом, в нем размещались различные организации и конторы, учреждения и даже коммунальные квартиры. Первая небольшая экспозиция на втором этаже дома Голубкиных открылась в 1974 году.
			+contentTextPic('В наше время', 'image-10', 'Предметы быта в музее')
				p <strong>В наши дни на первом этаже дома представлена выставка, рассказывающая о творческом пути крупнейшего мастера русской скульптуры Серебряного века. Второй этаж — мемориальная часть экспозиции, посвященная семье Голубкиных</strong>, наглядно передает ту атмосферу, в которой росла и формировалась художница. <strong>Здесь представлены предметы быта, мебели, не только рассказывающие о времени, в котором жила Анна Семеновна, но и отражающие вкусы и пристрастия обитателей этого дома.</strong> Среди экспонатов обращают на себя внимание те, что выполнены рукой скульптора: глиняная крынка, украшенная осколками битого стекла, ваза «Туман» 1899 года, а также предметы, которые были свидетелями жизни семьи Голубкиных: письменный стол, деревянные резные книжные полки, выполненные по эскизам Анны Семеновны ее племянником Николаем, двухтомник Н. В. Гоголя с дарственной надписью брату А. С. Голубкиной Семену.
			+gallery('Дом А.С. Голубкиной')
				+gallery-slide('image-21', 'Музейная экспозиция')
				+gallery-slide('image-22', 'Музейная экспозиция')
				+gallery-slide('image-23', 'Музейная экспозиция')
				+gallery-slide('image-24', 'Музейная экспозиция')
				+gallery-slide('image-25', 'Музейная экспозиция')
				+gallery-slide('image-26', 'Музейная экспозиция')
				+gallery-slide('image-27', 'Музейная экспозиция')
				+gallery-slide('image-28', 'Музейная экспозиция')
			include ../parts/toget