extends ../base

block vars
	-let pageName = 'kremlin-page'
	-let pageTitle = 'Зарайский кремль'
	-let metaTitle = 'Зарайский кремль | Зарайский кремль'
	-let metaDescription = ''
block content
		main.main.page(class= pageName)
			+topSection(pageTitle, false, true, 'Присутственные места', 'public.html')
				+breadcrumps(pageTitle)
			+contentTextPic('Историческая справка', 'image-05', 'Кремль с высоты птичьего полета')
				p <strong>Удивительный памятник русского оборонного зодчества первой трети XVI века - Зарайский кремль, расположен на территории Зарайской верхнепалеолитической стоянки.</strong>
				p Эти места были обжиты первобытными охотниками во временном промежутке от 23 тыс. до 16 тыс. лет назад. Каменный кремль был возведен на правом берегу реки Осетра по указу великого князя Московского Василия III в 1528 — 1531 гг. Он стал одним из опорных пунктов для защиты южных рубежей Московского государства, подвергавшихся частым и разорительным набегам крымских татар. За те полтора века, в течение которых была задействована его боевая мощь, он ни разу не покорился этим опасным врагам. Во время Смуты, в 1610 году, воеводой Зарайска был назначен князь Дмитрий Пожарский, который обеспечил «Зарайского города крепкое стоятельство» против сторонников Лжедмитрия II.
			+contentBg('Архитектура', 'image-06', 'План Зарайского кремля XVI век')
				p <strong>Зарайский кремль — одна из немногих русских регулярных крепостей XVI века</strong> — имеет в плане форму прямоугольника со сторонами 125 и 185 метров. Он возведен по канонам итальянской замковой архитектуры и приспособлен для ведения кругового боя с применением артиллерии. Это самый маленький по площади (2,3 гектара) из всех русских кремлей, дошедших до нашего времени, и единственный полностью сохранившийся кремль в Подмосковье. Является объектом культурного наследия федерального значения.
			+contentTextPic('В наше время', 'image-07', 'Башни кремля')
				p <strong>С 2014 года ведется комплексная реставрация стен и башен кремля.</strong>
				p Архитектурный ансамбль крепости включает в себя Никольский собор XVII века, собор Усекновения главы Иоанна Предтечи начала XX века, а также здание бывших Присутственных мест (духовного училища), где располагаются экспозиции музея. В кремле находится памятник легендарным рязанским князьям Федору, Евпраксии и их сыну Иоанну, чьи имена упоминаются в древнерусских Повестях о Николе Зарайском и исстари связываются с Зарайском. В Иоанно-Предтеченском соборе пребывает главная духовная святыня города — чудотворная икона св. Николая Чудотворца (XVI в.).
			+gallery('Зарайский кремль')
				+gallery-slide('image-15', 'Музейная экспозиция')
				+gallery-slide('image-16', 'Музейная экспозиция')
				+gallery-slide('image-17', 'Музейная экспозиция')
				+gallery-slide('image-18', 'Музейная экспозиция')
				+gallery-slide('image-19', 'Музейная экспозиция')
				+gallery-slide('image-20', 'Музейная экспозиция')
				+gallery-slide('image-14', 'Музейная экспозиция')
				+gallery-slide('image-05', 'Музейная экспозиция')
			include ../parts/toget
