extends ../base

block vars
	-let pageName = 'public-page'
	-let pageTitle = 'Присутственные места'
	-let metaTitle = 'Присутственные места | Зарайский кремль'
	-let metaDescription = ''
block content
		main.main.page(class= pageName)
			+topSection(pageTitle, false, true, 'Зарайский кремль', 'kremlin.html')
				+breadcrumps(pageTitle)
			+contentTextPic('Общая информация', 'image-04', 'Подпись к картинке')
				p <strong>С 2014 года коллекции музея «Зарайский кремль» размещаются в здании Присутственных мест, находящемся в юго-западной части кремля.</strong> Государственный музей-заповедник на протяжении 100 лет хранит уникальное собрание предметов изобразительного и декоративно-прикладного искусства, поступивших, в основном, из крупных дворянских усадеб Зарайского уезда, оставленных владельцами после 1917 года. 
			+contentBg('Археология', 'image-01', 'Подпись к фотографии')
				p <strong>Знакомство посетителей с собранием музея начинается с археологической экспозиции. В ней представлены находки древнейшей на территории Подмосковья Зарайской верхнепалеолитической стоянки (23 — 16 тысяч лет назад).</strong> Среди них признанный шедевр первобытного искусства — статуэтка бизона, вырезанная из бивня мамонта 22 тысячи лет назад, и две фигурки «Палеолитических Венер». Экспозиция демонстрирует полный цикл и технологию производства первобытных кремневых и костяных изделий.
			+contentTextPic('Русское искусство', 'image-04', 'Подпись к картинке')
				p <strong>В экспозиции «Русское искусство XVIII — XXвека» представлено уникальное по своему составу собрание дворянских портретов этого периода, включающее в себя фамильные галереи Голицыных и Олсуфьевых, Виельгорских и Келлеров.</strong> В их числе работы признанных мастеров портретного жанра - Ф. Крюгера и А.-Ф. Ризенера, а так же Л. Бакста, кисти которого принадлежит парадный портрет графини М. А. Келлер, по  праву  считающийся  жемчужиной музейной коллекции. Другой отличительной чертой живописной коллекции Зарарйского музея можно считать широкий ряд портретов представителей зарайского купечества, соседствующий с работами поздних передвижников академического направления, таких, как В. М. Максимов, И. И. Шишкин, В. К. Бялыницкий-Бируля, С. В. Иванов и другие.
			+contentBg('Фарфор', 'image-01', 'Подпись к фотографии')
				p <strong>Гордость музея — предметы из фарфорового десертного сервиза графов Виельгорских — одно из лучших произведений завода князя Н. Б. Юсупова в селе Архангельском.</strong>
			+contentTextPic('Западноеропейское искусство', 'image-04', 'Подпись к картинке')
				p <strong>Западноевропейское искусство XVII — XX веков представлено как образцами европейской живописи, так и предметами старинной мебели, художественной керамики, стекла и бронзы. Экспозиция знакомит с образцами холодного и огнестрельного оружия производства стран Западной Европы и Востока, коллекцией китайского и японского фарфора.</strong> Кроме того, в фондах открытого хранения можно познакомиться с не вошедшими в основную экспозицию образцами русской, западноевропейской и восточной керамики XVIII — XX вв. и работами современных художников Ф. Д. Константинова, М. Г. Абакумова.
			+contentBgAccent('История возникновения')
				p <strong>Отдельный интерес  может вызывать сама история возникновения музея, открывшего  двери для посетителей в 1919 году.</strong> В маленьком провинциальном городке к этому времени сложилась особая культурная среда, проникнутая духом зарайских древностей. К тому же в дореволюционном Зарайске уже существовали традиции музейного дела, ярким проявлением которых был созданный в 1910 году естественно-исторический музей Зарайского земства, возникший благодаря плеяде людей, готовых посвятить себя делу спасения, сохранения и изучения культурного наследия. И, наконец, коренные преобразования 1917 года открыли на короткое время неисчерпаемые возможности для комплектования музейных фондов за счет богатейших коллекций местного дворянства.
			section.section.content-section.content-section--nomargin
				.content-bg
					.content-wrapper
						.content-leftcol
							.content-image
								+picture('image-01', 'jpg', false, true)
									p Подпись к фотографии
						.content-rightcol.user-content 
							p В начале 1918 года в Зарайск был направлен эмиссар музейного отдела Всероссийской коллегии по охране памятников искусства и старины Л. М. Весельчаков, при содействии которого и под руководством И. П. Перлова и был создан художественно-исторический музей. Со временем расположившемуся в здании бывших Присутственных мест и Духовного училища музею было передано и здание древнего Никольского собора. В нём начал работу отдел церковной архитектуры. В декабре 1924 года естественно-исторический и художественно-исторический музеи были объединены, а коллекции продолжали активно пополняться.
						.content-full.user-content 
							p <strong>В начале 1918 года в Зарайск был направлен эмиссар музейного отдела Всероссийской коллегии по охране памятников искусства и старины Л. М. Весельчаков, при содействии которого и под руководством И. П. Перлова и был создан художественно-исторический музей.</strong> Со временем расположившемуся в здании бывших Присутственных мест и Духовного училища музею было передано и здание древнего Никольского собора. В нём начал работу отдел церковной архитектуры. В декабре 1924 года естественно-исторический и художественно-исторический музеи были объединены, а коллекции продолжали активно пополняться.
							p В 1936 году музей в срочном порядке был переведён в здание Троицкой церкви, которое практически не отапливалось. Последнее вызывало значительные трудности и потребовало самоотверженной работы сотрудников для сохранения коллекций. <strong>Настоящее возрождение музей начинает переживать на рубеже 1970–1980 годов - в это время происходит присоединение к нему организованного в 1974 году музея А.С. Голубкиной и усадьбы Достоевских в селе Даровое.</strong> В конце 1980-х годов значительно  пополняется художественная коллекция: Ф.Д. Константинов, член-корреспондент АХ СССР, передаёт в дар музею более тысячи своих гравюр. <strong>Новый этап истории Зарайского музея начинается в 90-е годы прошлого века с приобретением статуса государственного учреждения культуры.</strong>
							+picture('image-03', 'jpg', false, true)
								p Подпись к фотографии
			+contentBgAccent
				p <strong>И с 2014 года Зарайский музей снова обретает своё историческое здание — Присутственных мест, и подходит к своему столетнему юбилею в статусе Государственного музея-заповедника «Зарайский кремль», продолжая  интенсивно развиваться.</strong>
			+gallery('Присутственные места')
				+gallery-slide('image-04', 'Музейная экспозиция')
				+gallery-slide('image-03', 'Музейная экспозиция')
				+gallery-slide('image-04', 'Музейная экспозиция')
				+gallery-slide('image-03', 'Музейная экспозиция')
				+gallery-slide('image-04', 'Музейная экспозиция')
				+gallery-slide('image-03', 'Музейная экспозиция')
				+gallery-slide('image-04', 'Музейная экспозиция')
				+gallery-slide('image-03', 'Музейная экспозиция')
			include ../parts/toget