section.section.toget
	.toget__container.container 
		.toget__content
			.toget__heading
				h2 К НАМ ЕХАТЬ НЕ СТРАШНО
			ul.toget__list.accordeon
				+faqItem('На машине', 'toget')
					p Да, Вы можете купить билет на сайте в день посещения на ближайший сеанс, билеты на который есть в наличии.
				+faqItem('На автобусе', 'toget')
					p Подняться на галерею кремля можно в сопровождении экскурсовода с экскурсией!
				+faqItem('На электричке', 'toget')
					p Сувенирная лавка открыта для посетителей, входной билет для посещения не нужен.
				+faqItem('На такси', 'toget')
					p Мы будем благодарны, если вы оставите заявку на экскурсию как можно ранее. В этом случае вы избежите возможного пересечения вашей экскурсии с другими экскурсионными группами. Кроме того, предварительная заявка поможет максимально детально обсудить и учесть особенности экскурсии с учётом состава и предпочтений вашей группы.Мы принимаем заявки на экскурсии в том числе в день вашего визита и готовы провести экскурсию без предварительной заявки.
					p <strong>Экскурсионное обслуживание можно заказать по телефонам: 8(496)667-30-72</strong>